.user_body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 150px;
  padding: 50px 100px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255);
  opacity: .7;
  width: 40%;
  min-width: 550px;
}

.profile_image_bio_container {
  display: flex;
  flex-direction: row;
}

.edit_user {
  font-size: 12px;
  text-decoration: none;
  background-color: transparent;
  color: rgba(252, 237, 214, .8);
  border: 0;
}

.edit_user:hover {
  color: #788c22;
  text-decoration: underline;
  cursor: pointer;
  transition-duration: 500ms;
}