.logoutButton {
  /* display: flex;
  justify-content: flex-end;
  align-items: center; */
  margin: 0 40px;
  padding: 5px 30px;
  height: 40px;
  border-radius: 30px;
  font-weight: bold;
  background-color: rgb(198 192 163);
  color: rgb(103, 10, 21);
  border: 0;
}

.logoutButton:hover {
  background-color: rgba(50, 50, 50, .94);
  color: rgb(198 192 163);
  cursor: pointer;
  transition-duration: 300ms;
}