.logoutButton {
  margin: 5px 40px;
  padding: 5px 40px;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
  background-color: #fcedd6;
  color: #753932;
  border: 0;
}

.logoutButton:hover {
  background-color: rgba(50, 50, 50, .5);
  color: #fcedd6;
  cursor: pointer;
  transition-duration: 500ms;
}

@media only screen and (max-height: 1000px)  {

  .logoutButton {
    height: 30px;
  }
}