.splash-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 1250px;
  margin: 0;
  padding: 0;
  border: 0;
  background: url("../../images/bottles-bg.png") no-repeat center fixed;
  background-size: cover;
  overflow: none;
}

.splash-quote {
  position: fixed;
  color: #FFF3C4;
  font-weight: bolder;
  margin-bottom: 450px;
}

/* .quote {
  font-size: ;
} */

.credit {
  display: flex;
  align-self: flex-end;
} 

.slogan {
  position: fixed;
  margin: 0 0 250px 0;
}

.personal-jesus {
  color:  #FFF3C4;
};


