.outerSplash {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 1250px; */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.seppiaGrapes {
  margin-top: 60px;
  width: 100%;
  min-width: 2000px;
  min-height: 1060px;
  position: fixed;
  
}

/* .leftSplashBody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: column;
  margin: 50px 0;
} */

/* .welcome {
  color: rgb(192, 192, 176);
  margin: 0 50px;
} */

.personalJesus {
  color:  #FFF3C4;
  margin: 0 50px;
};

.qouteCredit {
  display: flex;
  align-self: flex-end;
}

/* .journey {
  color: rgb(192, 192, 176);
  margin: 0 50px;
} */

/* .rightSplashBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #FFF3C4;
  color: rgb(192, 192, 176);
  padding: 60px;
  width: 40%;
}; */


.footeraboutMeContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #9c3127;
}

.devBy {
  color: #FFF3C4;
  margin-right: 10px;
}

.devName {
  color: #FFF3C4;
}

.footerLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#git {
  color: #FFF3C4;
  padding-right: 40px;
}

#linked {
  color: #FFF3C4;
  padding: 0 10px;
}