.feed_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(375px, 375px));
  gap: 100px;
  justify-content: center;
  padding: 100px 0;
}

/* @media only screen and (max-width: 2000px)  {

  .feed_page {
    padding: 100px 0px 300px 0px;
  }

  .feed_container {
    grid-template-columns: repeat(2, minmax(375px, 375px));
    padding: 100px 0;
  }
} */

.discussion_wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex: 0 0 340px;
  padding: 80px 20px 0 20px;
  top: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(39, 39, 38, .5);
  border-left: 1px solid rgba(252, 237, 214, .5);
}

.discussion_close_container:hover {
  cursor: pointer;
  transition-duration: 500ms;
}

.discussion_closer {
  color: rgba(252, 237, 214, .4);
  font-size: 18px;
}

.discussion_closer:hover {
  color: #753932;
  transition-duration: 500ms;
}