.my-feed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0;
  padding: 80px 0 300px 30%;
  height: 1600px;
  width: 100%;
  background-color: rgba(156, 108, 39, 0.1);
}

.my-tasting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px;
  padding: 80 px;
  cursor: pointer;
}
