.myTastingFeedOuterContainer {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 80px 0 300px 0;
}

.footerMyWineTastingsContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #9c3127;
}

.myWineTastingsFooterPhrase {
  color: #FFF3C4;
}