.sidebar_body_container {
  display: flex;
  min-height: 100vh;
}

.feed_page {
  flex: 1;
  margin: 0 340px;
  padding: 120px 0;
  overflow-y: scroll;
}

.feed_title {
  display: flex;
  justify-content: center;
  margin: 0 150px;
  padding-bottom: 20px;
  font-size: 20px;
  color: #fcedd6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.feed_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(375px, 375px));
  grid-gap: 100px;
  justify-content: center;
  padding: 100px 0;
}

/* .tasting_card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 375px;
  border-radius: 30px;
} */

@media only screen and (max-width: 2000px)  {

  .feed_container {
    grid-template-columns: repeat(2, minmax(375px, 375px));
    padding: 100px 350px;
  }
}


/* Styles for screens less wide than 1600px */
@media only screen and (max-width: 1599px) {

  .feed_container {
    grid-template-columns: repeat(2, minmax(275px, 275px));
    /* padding: 100px 350px; */
  }
}

/* Styles for screens shorter than 800px */
/* @media (max-height: 799px) {

} */
