.tastingCardOuterContainer {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding: 20px 20px 30px 20px;
  width: 900px;
  min-width: 750px;
  background-color: #FFF3C4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-color: black;
}

.tastingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80 px;
  cursor: pointer;
}

.wineInfo {
  color: #660d19;
}

.tastingHeader {
 display: flex;
 justify-content: flex-end;
}

.editContainer {
  display: flex;
  /* flex-direction: row; */
}

.deleteIcon {
  background-color: transparent;
  border: none;
}


.deletePenIcon {
  font-size: 1.2rem;
  padding: 1rem;
}

.deleteIcon:hover{
  background-color: rgba(128, 128, 128, 0.01);
  border-radius: 10px;
}
