.tasting_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  padding: 20px 20px 0px 20px;
  transition: transform 1s ease;
}

.tasting_transformer {
  height: 600px;
  background-color: rgba(39, 39, 38, 0.85);
  border-radius: 30px;
  transform: translate(0, -375px);
}

.tasting-info-container {
  cursor: pointer;
}

.wine-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  color: rgba(252, 237, 214, .8);
}

.tasting-card-header {
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 0;
}

.loved-wine-heart {
  color: rgb(223, 106, 114);
}

.extra-wine-info {
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: black;
  border-width: 1px;
  color: rgba(252, 237, 214, .5);
}

.tasting-info {
  color: rgba(252, 237, 214, .5);
}

.edit-delete-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 25px 15px;
}

.edit_my_tasting {
  font-size: 12px;
  text-decoration: none;
  background-color: transparent;
  color: rgba(252, 237, 214, .8);
  border: 0;
}

.edit_my_tasting:hover {
  color: rgb(102, 105, 27);
  text-decoration: underline;
  cursor: pointer;
  transition-duration: 500ms;
}

.delete-button {
  border: 0;
  font-size: 12px;
  background-color: transparent;
  color: rgba(223, 106, 114, .8);
}

.delete-button:hover {
  font-weight: bold;
  color: #b00020;
  cursor: pointer;
  text-decoration: underline;
  transition-duration: 500ms;
}
