.tasting-card-inner {
  cursor: pointer;
}

.label-image-container {
  height: 375px;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
}

.label-image {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 80%;
  opacity: .75;
  transition: transform 1s ease;
  transform: scale(1);
  will-change: transform;
  border-radius: 30px;
}

.label-image-container:hover .label-image {
  transform: scale(1.1);
}

.default-label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 375px;
  width: 100%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  position: relative;
}

.default-label-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: transform 1s ease;
  transform: scale(1);
  will-change: transform;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.default-label-image {
  color: rgba(66, 1, 6, .8);
  font-size: 250px;
}

.default-label-container:hover .default-label-inner {
  transform: scale(1.1);
}

.tasting_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  padding: 20px;
  transition: transform 1s ease;
}

.tasting_transformer {
  height: 675px;
  background-color: rgba(39, 39, 38, 0.85);
  border-radius: 30px;
  transform: translate(0, -375px);
  margin-bottom: -425px;
}

.wine-main-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.wine-main_info > * {
  max-width: 100%;
}

.loved-main {
  height: 180px;
}

.tasting-card-header {
  color: rgba(252, 237, 214, .8);
  letter-spacing: 4px;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
}

.tasting-varietal {
  color: rgba(252, 237, 214, .8);
}

.loved-wine-icon {
  color: rgb(223, 106, 114);
}

.extra-wine-info {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: rgba(252, 237, 214, .5);
}

.tasting-info {
  color: rgba(252, 237, 214, .5);
}

.edit-delete-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 25px 15px 80px 15px;
}

.edit_my_tasting {
  font-size: 12px;
  text-decoration: none;
  background-color: transparent;
  color: rgba(252, 237, 214, .8);
  border: 0;
}

.edit_my_tasting:hover {
  color: #788c22;
  text-decoration: underline;
  cursor: pointer;
  transition-duration: 500ms;
}

.delete-button {
  border: 0;
  font-size: 12px;
  background-color: transparent;
  color: rgba(223, 106, 114, .8);
}

.delete-button:hover {
  font-weight: bold;
  color: #b00020;
  cursor: pointer;
  text-decoration: underline;
  transition-duration: 500ms;
}

/*

.card .front,
.card .back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  transition: .6s;
  cursor: pointer;

}

.back {
  transform: rotateY(180deg);
}

.front {

}

.input {
  position: absolute;
  scale: 0;
}

.input:checked ~ .card .back {
  transform: rotateY(0);
}

.input:checked ~ .card .front {
  transform: rotateY(-180deg);
}

#summary :is(var, h3) { color: #3b82f6; }

.card :is(h4, p) {
  opacity: 0.6;
  font-size: 20px;
}

.card p {
  margin-top: 76px;
}

*/
