.editTastingContainer {
  display: flex;
  justify-content: center; 
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 60%;
  margin: 15% 15% 15% 15%;
  padding: 30px 0px 60px 50px;
}

.producerInput {
  border-bottom-style: double;
  border-bottom-color: rgba(128, 128, 128, 0.01);
}

.regionInput {
  border-bottom-style: double;
  border-bottom-color: rgba(128, 128, 128, 0.01);
}

.vineyardInput {
  border-bottom-style: double;
  border-bottom-color: rgba(128, 128, 128, 0.01);
}

.varietalInput {
  border-bottom-style: double;
  border-bottom-color: rgba(128, 128, 128, 0.01);
}

.vintageInput {
  border-bottom-style: double;
  border-bottom-color: rgba(128, 128, 128, 0.01);
}

.otherInfoInput {
  border-bottom-style: double;
  border-bottom-color: rgba(128, 128, 128, 0.01);
}

.sightInput {
  border-bottom-style: double;
  border-bottom-color: rgba(128, 128, 128, 0.01);
}

.noseInput {
  border-bottom-style: double;
  border-bottom-color: rgba(128, 128, 128, 0.01);
}

.palateInput {
  border-bottom-style: double;
border-bottom-color: rgba(128, 128, 128, 0.01);
}

.thoughtsInput {
  border-bottom-style: double;
  border-bottom-color: rgba(128, 128, 128, 0.01);
}








.updateHeader {
  display: flex;
  justify-content: center;
  color: #660d19;
}

input:focus{
  outline: none;
  
}

.editSubmitCloseWrapper {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.updatetastingButton {
  right: 40px;
  width: 300px;
  margin-top: 10px;
  padding: 1% 1% 1% 1%;
  border-radius: 5px;
  font-weight: bold;
}
 
.updatetastingButton:hover {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.closeEditWine {
  right: 40px;
  width: 300px;
  margin-top: 10px;
  padding: 1% 1% 1% 1%;
  border-radius: 5px;
  font-weight: bold;
}

.closeEditWine:hover {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.editRadioLoveWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.editLoveLabel {
  color: #660d19;
  font-weight: bold;
}

.deletePenIcon {
  font-size: 1.2rem;
  padding: 1rem;
}


.deleteIcon {
  background-color: transparent;
  border: none;
}

.deleteIcon:hover{
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}