.editTastingModal {
  position: absolute;
  left: 25%;
  background-color:white;
  border-radius: 20px;
  max-width: 300vw;
  overflow-y:auto;
  height: 850px;
  min-height: 150px;
}

.editTastingButton {
  margin: 1px 20px;
  padding: 1px 30px;
  border-radius: 3px;
  font-weight: bold;
  background-color: #d7d6d0;
}

.editTastingButton:hover {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}
