.editTastingModal {
  position: absolute;
  background-color:white;
  border-radius: 8px;
  max-width: 300vw;
  overflow-y:auto;
  /* height: 530px; */
  min-height: 150px;
  
}

.editTastingContainer {
  display: flex;
  /* justify-content: center; */
  /* flex-direction: column;
  align-items: center; */
  height: 100%;
  width: 60%;
  margin: 15% 15% 15% 15%;
  padding: 30px 100px 60px 50px;
}

