.signup_form {
  background-color: white;
  position: fixed;
  width: 40%;
  min-width: 550px;
  top: 100px;
  padding: 50px;
  border-radius: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1;
}

.signup_header_container {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
  padding: 10px 20px;
}

.form_title {
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 2px;
  margin: 3px 3px;
  text-align: center;
}

.card_form {
  margin-top: 20px;
}

.form_input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 20px auto;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.9);
}

.form_input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form_input:focus {
  outline: none;
}

.signup_button_container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  height: 40px;
}

.signup_button {
  margin: 0;
  padding: 5px 40px;
  height: 40px;
  width: 160px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(103, 10, 21);
  color: rgb(198 192 163);
  border: 0;
}

.signup_button:hover {
background-color: rgb(198 192 163);
color: rgba(103, 10, 21, 1);
cursor: pointer;
transition-duration: 300ms;
}

.form_switch {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
}

.form_switch a {
  margin: 0 2px 0 0;
  padding: 0;
  font-size: 16px;
  color: rgba(103, 10, 21, 1);
  font-weight: bold;
}

.switch_to_login {
  margin-left: 15px;
}

.switch_to_login:hover {
  color: rgba(103, 10, 21, .7);
  transition-duration: 300ms;
}

.error_messages {
  color: #c73649;
  font-weight: bold;
}
