/* 
.signUpFormContainer {
  display: flex;
  justify-content: column;
  height: 50%;
  max-width: 50%;
  margin: 0 auto 0 0;
  padding: 60px 0 0 0;
  background-color: rgba(255, 255, 255 0.2);
}

.signUpForm {
  justify-content: space-between;
  align-items: vertical;
}

.usernameWrapper {
  justify-content: space-between;
}

.usernameInput {
  margin: 4px;
  padding: 8px;
  border-radius: 6px;
  min-width: 325px;
}

.signUpEmailInput {
  margin: 4px;
  padding: 8px;
  border-radius: 6px;
  min-width: 325px;
}

.signUpPasswordInput {
  margin: 4px;
  padding: 8px;
  border-radius: 6px;
  min-width: 325px;
}

.signUpRepeatedPasswordInput {
  margin: 4px;
  padding: 8px;
  border-radius: 6px;
  min-width: 325px;
}

.signUpButtonWrapper {
  display: flex;
  justify-content: flex-end;
}

.signUpButton {
  margin: 5px;
  padding: 1px 30px;
  border-radius: 3px;
  font-weight: bold;
}

.signUpButton:hover {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.errorMessages {
  color: #c73649;
  font-weight: bold;
} */


.signup_form {
  display: grid;
  backdrop-filter: blur(60px);
  position: fixed;
  width: 40%;
  min-width: 550px;
  padding: 50px;
  margin-bottom: 525px;
  border-radius: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* .signup_form::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  border-radius: 1rem, 1rem, 100%, 100%;
  z-index: -1;
} */

.signup_header_container {
  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  padding: 10px 20px;
}

.form_title {
  /* position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem; */
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 2px;
  margin: 3px 3px;
  text-align: center;
}

/* .signup_form>form {
  padding: 2.5rem;
  background-color: inherit;
} */

/* this block creates the line movement properly */
/* .form_input {
  position: relative;
  display: flex;
  align-items: baseline;
  margin: 0 auto;
} */

.form_input {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 2px;
  margin: 3px 3px;
  /* text-align: center; */
}

.form_input .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .1);
  width: 100%;
  height: 1px;
}

.form_input .bar::before {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}

.form_input>input:focus+.bar::before {
  transform: scaleX(1);
}

.form_input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 20px auto;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
  color: white;
}

.form_input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form_input:focus {
  outline: none;
}

.signup_button_container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.signup_button {
  margin-right: 20px;
  padding: 5px 40px;
  height: 40px;
  width: 160px;
  border-radius: 30px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.075);
  color: rgb(198 192 163);;
  border: 0;
}

.signup_button:hover {
background-color: rgb(198 192 163);;
color: rgba(103, 10, 21, 1);
cursor: pointer;
transition-duration: 300ms;
}

.form_switch {
  display: flex;
  align-items: center;
  font-size: .9rem;
  color: rgba(255, 255, 255, 0.8);
}

.form_switch a {
  text-decoration: none;
  color: rgb(198 192 163);;
}

.switch_to_login {
  margin-left: 15px;
}

/* .form_input>i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #e6a39d;
}

.form_input input {
  position: relative;
  width: 100%;
  font: inherit;
  padding: 1rem 0;
  margin-top: .5rem;
  border: none;
  outline: none;
}

.form_input .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .1);
  width: 100%;
  height: 1px;
}

.form_input .bar::before {
  content: '';
  position: absolute;
  background-color: #9c3127;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}

.form_input>input:focus+.bar::before {
  transform: scaleX(1);
}

.signup_button {
  display: block;
  margin: 2.5rem auto 3rem;
  padding: 1rem 5rem;
  background: linear-gradient(to left, #e6a39d, #9c3127);
  color: #fff;
  font: inherit;
  border: .5rem solid #fff;
  outline: none;
  cursor: pointer;
  border-radius: 3rem;
}

.signup_button:hover {
  background: linear-gradient(to right, #e6a39d, #9c3127);
}

.form_switch {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: #a1a1a1;
}

.form_switch a {
  text-decoration: none;
  color: #9c3127;
}

.form_switch a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 43.75em) {
  .signup_form::before {
    height: 30rem;
  }
  .form_title {
    left: 10rem;
    transform: none;
  }
  .signup_form>form {
    transform: translateX(10rem);
    border-radius: inherit;
    box-shadow: inherit;
  }
} */

.error_messages {
  color: #c73649;
  font-weight: bold;
}
