.signup_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  height: 40vh;
  width: 40%;
  margin-bottom: 20%;
  padding: 20px 150px;
}

.signup_form {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); 
  padding: 25px 10px;
}

.form_input {
  width: 100%;
  margin: 5px auto;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.9);
}

.form_input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form_input:focus {
  outline: none;
}

.signup_button_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.signup_button {
  margin: 0;
  padding: 5px 40px;
  height: 40px;
  width: 160px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  background-color: #903227;
  color: #fcedd6;
  border: 0;
}

.signup_button:hover {
background-color: rgba(102, 105, 27, .9);
color: #fcedd6;
cursor: pointer;
transition-duration: 500ms;
}

.login_switch_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.form_switch {
  font-size: 11px;
  color: rgba(0, 0, 0, 1);
}

.form_switch a {
  margin: 0 2px 0 0;
  padding: 0;
  font-size: 16px;
  color: #903227;
  font-weight: bold;
}

.switch_to_login {
  color: rgba(102, 105, 27, .9);
}

.switch_to_login:hover {
  color: #753932;
  transition-duration: 500ms;
}

.login_link {
  margin: 0 0 0 5px;
}

.login_link:hover {
  text-decoration: underline;
  transition-duration: 500ms;
}

.error_messages {
  color: #b00020;
  font-weight: bold;
}


/* Styles for screens larger than 2560px */
@media (min-width: 2561px) {

  .signup_form_container {
    width: 30%;
    margin-bottom: 15%;
  }
}

/* Styles for screens smaller than 2100px */
@media (max-width: 2099px) {

  .signup_form_container {
    padding: 15px 100px;
  }

  .signup_form {
    padding: 15px 10px;
  }

  .form_input {
    margin: 3px;
    padding: 8px 15px;
    font-size: 14px;
  }
}

/* Styles for screens smaller than 1600px */
@media (max-width: 1599px) {

  .signup_form_container {
    padding: 10px 70px;
  }

  .signup_form {
    padding: 10px 10px;
  }

  .form_input {
    margin: 2px;
    padding: 6px 10px;
    font-size: 14px;
  }

  .signup_button_container {
    margin-top: 12px;
  }
  
  .signup_button {
    padding: 5px 20px;
    height: 25px;
    width: 6rem;
    border-radius: 15px;
    font-size: 14px;
  }

  /* 
  

  .login_inputs {
    margin-top: 12px;
    justify-content: space-between;
    padding: 0 10px;
  }

  .login_login {
    height: 25px;
    width: 6rem;
    padding: 5px 20px;
    border-radius: 15px;
    font-size: 14px;
  }

  .switch {
    font-size: 10px;
    margin-bottom: 1px;
  }
  
  .switch_to_signup {
    margin: 0 2px 0 0;
    font-size: 11px;
  }

  .or {
    margin: 2px 0 0 2px; 
    padding: 0 5px;
    font-size: 8px;
  }

  .login_demo {
    margin: 0;
    font-size: 16px;
    background-color: transparent;
    color: #903227;
    border: 0;
    padding-right: 0;
  }

  .demo_site {
    font-size: 11px;
  } */
}

