.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #753932;
  height: 5%;
}

.dev_by {
  color: #fcedd6;
  margin-right: 10px;
}

.dev_name {
  color: #fcedd6;
}

#git {
  color: #fcedd6;
  padding: 0 40px;
}

#linked {
  color: #fcedd6;
}

#git:hover {
  color: #e4c494;
  transition-duration: 500ms;
}

#linked:hover {
  color: #e4c494;
  transition-duration: 500ms;
}