.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(103, 10, 21, 1);
  height: 4%;
}

.dev_by {
  color: rgb(198 192 163);;
  margin-right: 10px;
}

.dev_name {
  color: rgb(198 192 163);;
}

#git {
  color: rgb(198 192 163);;
  padding: 0 40px;
}

#linked {
  color: rgb(198 192 163);;
}

#git:hover {
  color: rgb(50, 50, 50);
  transition-duration: 300ms;
}

#linked:hover {
  color: rgb(50, 50, 50);
  transition-duration: 300ms;
}