.listed_friend_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin-bottom: 5%;
  padding: 10px 0;
  font-size: 20px;
  color: rgb(192, 192, 176);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.friend_tastings {
  display: flex;
  justify-content: center;
  align-items: row;
  font-size: 20px;
  color: rgb(192, 192, 176);
}

.friend_image_name_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend_profile_image {
  width:50px;
  height:50px;
  background-color: none;
  border-radius: 50%;
  margin-right: 20px;
}

.default-friend-profile-image {
  width:50px;
  height:50px;
  background-color: none;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 50px;
}

.unfriend_button {
  margin: 1px 20px;
  padding: 1px 20px;
  height: 20px;
  border-radius: 20px;
  background-color: rgb(103, 10, 21);
  font-size: 14px;
  font-weight: bold;
  color: #FFF3C4;
  border: 0;
}

.unfriend_button:hover {
  background-color: #FFF3C4;
  color: rgb(103, 10, 21);
  cursor: pointer;
  transition-duration: 300ms;
}

