.listed_friend_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  padding: 10px 0;
  border-bottom: .5px solid rgba(0, 0, 0, 0.4);
}

.friend_tastings {
  display: flex;
  justify-content: center;
  align-items: row;
  font-size: 16px;
  color: #FFF3C4;
}

.friend_image_name_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend_image_name_container:hover {
  color: rgb(192, 192, 176);
  text-decoration: underline;
  cursor: pointer;
  transition-duration: 500ms;
}

.friend_profile_image {
  width:50px;
  height:50px;
  background-color: none;
  border-radius: 50%;
  margin-right: 20px;
}

.default-friend-profile-image {
  width:50px;
  height:50px;
  background-color: none;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 50px;
}

.unfriend_button {
  background-color: transparent;
  font-size: 10px;
  color: #FFF3C4;
  border: 0;
}

.unfriend_button:hover {
  color: rgb(102, 105, 27);
  text-decoration: underline;
  cursor: pointer;
  transition-duration: 500ms;
}

