/* TODO Add site wide styles */
* {
  box-sizing: border-box;
}

body  {
  /* background: url('../src/assets/Shutterstock_93817174.jpg') no-repeat center center fixed; */
  background-color: #b5b2a8;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}