.cheers_container {
  display: flex;
  flex-direction: row;
}

.cheers_counter {
  color: rgb(192, 192, 176);
  font-size: 10px;
  /* margin: 37px 0 0 0; */
}

.cheers_button {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.cheered_icon {
  color: rgb(103, 10, 21);
  /* margin: 28px 0 0 10px; */
}

.uncheered_icon {
  color: rgb(192, 192, 176);
  /* margin: 28px 0 0 10px; */
}
