.nav_logged_out {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 5%;
  display: flex;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.2);
  background-color: rgb(50, 50, 50);
}

.nav_logged_in {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 5%;
  display: flex;
  align-items: center;
  box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
  background-color: #753932;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo_logged_out {
  color: #fcedd6;
  letter-spacing: 8px;
}

.logo_logged_out:hover {
  cursor: pointer;
  color: rgb(102, 105, 27);
  transition-duration: 500ms;
}

.logo_logged_in {
  padding: 0;
  color: #fcedd6;
  letter-spacing: 8px;
}

.logo_logged_in:hover {
  cursor: pointer;
  color: rgba(50, 50, 50, .9);
  transition-duration: 500ms;
}

.login_sign_up {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.signupButton {
  margin: 10px 40px;
  padding: 5px 40px;
  height: 40px;
  border-radius: 30px;
  font-weight: bold;
  color: #fcedd6;
  background-color: #903227;
  border: 0;
}

.signupButton:hover {
  background-color:  #fcedd6;
  color:  #903227;
  cursor: pointer;
  transition-duration: 500ms;
}

@media only screen and (max-height: 1000px)  {

  .signupButton {
    height: 30px;
  }
}

.loginButton {
  padding: 5px 45px;
  height: 40px;
  border-radius: 30px;
  font-weight: bold;
  background-color: #fcedd6;
  color: #903227;
  border: 0;
}

.loginButton:hover {
  background-color: #66691b;
  color: #fcedd6;
  cursor: pointer;
  transition-duration: 500ms;
}

@media only screen and (max-height: 1000px)  {

  .loginButton {
    height: 30px;
  }
}

.logout_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
}

@media only screen and (max-width: 1700px)  {

  .logout_container {
   width: 800px;
  }
}

.profile_link {
  color: #fcedd6;
  font-size: 14px;
  font-style: italic;

  &:hover {
    color: rgba(50, 50, 50, .9);
    transition-duration: 500ms;
  }
}