.loved_tasting_card {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding: 20px 20px 30px 20px;
  min-width: 700px;
  background-color: rgba(39, 39, 38, 0.2);
  border-radius: 3px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(39, 39, 38);
  border-top: none;
  border-bottom: none;
}

.loved_tasting_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80 px;
  cursor: pointer;
}

.user_header {
  margin: 50px 50px 10px 50px;
  color: rgb(192, 192, 176);
}

.bio_subtitle {
  margin: 0 50px;
  color: rgb(192, 192, 176);
}

.loved_info_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80 px;
  color: rgb(243, 218, 201);
}

.loved_wine_info {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px 0 100px;
  color: rgb(243, 218, 201);
}

.loved_wine_extra_info {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
  color: rgb(243, 218, 201);
}

.loved_tasting_notes_container {
  display: flex;
  flex-direction: column;
  margin: 20px 180px;
  color: rgb(192, 192, 176);
}

.edit_container {
  display: flex;
  flex-direction: row-reverse;
}

/* .deleteIcon {
  background-color: transparent;
  border: none;
}

.deleteIcon:hover {
  
} */

.closeDiscussionButton {
  margin: 1px 20px 10px 7px;
  padding: 1px 30px;
  border-radius: 3px;
  font-weight: bold;
  background-color: #d7d6d0;
}

.closeDiscussionButton:hover {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.discussionOuterContainer {
  background-color: white;
  border-radius: 10px;
  padding: 1px 1px;
  max-height: 200px;
  overflow-x: scroll;
  overflow-wrap: normal;
}

.discussionInnerContainer {
  padding: 0 15px;
}