.userInfoContainer {
  cursor: pointer;
}

.userHeader {
  margin-bottom: 2px;
}

.bioSubtitle {
  margin-top: 2px;
}

.lovedWineInfo {
  color: #660d19;
  cursor: pointer;
}

.lovedTastingNotesContainer {
  color: black;
}

.editContainer {
  display: flex;
  flex-direction: row-reverse;
}

.deleteIcon {
  background-color: transparent;
  border: none;
}

.deleteIcon:hover {
  background-color: rgba(128, 128, 128, 0.181);
  border-radius: 50%;
}

.closeDiscussionButton {
  margin: 1px 20px 10px 7px;
  padding: 1px 30px;
  border-radius: 3px;
  font-weight: bold;
  background-color: #d7d6d0;
}

.closeDiscussionButton:hover {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.discussionOuterContainer {
  background-color: white;
  border-radius: 10px;
  padding: 1px 1px;
  max-height: 200px;
  overflow-x: scroll;
  overflow-wrap: normal;
}

.discussionInnerContainer {
  padding: 0 15px;
}