
.createTastingContainer {
  position: fixed;
  flex-direction: row;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: row;
  margin: 0;
  padding: 0 20px 200px 0;
  height: 100%;
  width: 100%;
  background-color: rgba(156, 108, 39, 0.1);
}

.createTastingForm {
  flex-direction: column;
  padding: 0 0 15% 15%;
  height: 100%;
  max-width: 73%;
}

.errors {
  color: #c73649;
  font-weight: bold;
  font-size: 10px;
  width: 550px;
}

.inputContainer {
  margin: 0;
  padding-top: 35%;
  justify-content: space-evenly;
}

.producerInput {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin: 0;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.regionInput {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.vineyardInput {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.varietalInput {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.vintageInput {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.otherInfoInput {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.sightInput {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.noseInput {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.palateInput {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.thoughtsInput {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.loveWrapperInput {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.loveLabel {
  color: rgb(192, 192, 176);
  font-weight: bold;
}

.loveInput:hover {
  cursor: pointer;
}

.submitOrCancelWrapper {
 display: flex;
 flex-direction:column;
 align-items: center;
}

.submitTasting {
  /* right: 40px; */
  width: 275px;
  margin-top: 10px;
  /* padding: 1% 1% 1% 1%; */
  /* border-radius: 5px; */
  /* font-weight: bold; */

  padding: 5px 40px;
  height: 40px;
  border-radius: 30px;
  font-weight: bold;
  background-color: #FFF3C4;
  color: #9c3127;
  border: 0;
}

.submitTasting:hover {
  background-color: rgba(128, 128, 128, 0.5);
  /* border-radius: 10px; */
  cursor: pointer;

  background-color: rgba(50, 50, 50, .94);
  color: #FFF3C4;
  cursor: pointer;
  transition-duration: 300ms;
}

.myhome {
  color: rgb(192, 192, 176);
  margin-top: 15px;
  border-bottom-color: #c73649;
}

.myhome:hover {
  color: black;
  transition-duration: 300ms;
  cursor: pointer;
}

.footerCreateTastingContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #9c3127;
}

.createTastingFooterPhrase {
  color: #FFF3C4;
}