.create_tasting_container {
  display: flex;
  justify-content: center;
  min-width: 1000px;
}

.create_form {
  background-color: white;
  opacity: .7;
  position: fixed;
  width: 40%;
  min-width: 550px;
  padding: 50px;
  margin: 100px 600px;
  border-radius: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tasting_header {
  display: flex;
  justify-content: center;
  margin: 3px 0;
  padding-top: 5%;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 2px;
}

.tasting_input_container {
  padding-top: 8px;
}

.errors {
  margin: 0;
  color: #c73649;
  font-weight: bold;
  font-size: 10px;
  width: 100%;
}

.info_input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 100%;
  margin: 0;
  padding: 1px 0 1px 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  color: rgba(0, 0, 0, 0.8);
}

.info_input:focus {
  outline: none;
}

.info_input:-webkit-autofill,
.info_input:-webkit-autofill:hover,
.info_input:-webkit-autofill:focus,
.info_input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.8);
}

.selection_info_input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 100%;
  margin: 0;
  padding: 1px 0 1px 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.selection_info_input:focus {
  outline: none;
}

.love_container {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
  padding: 1%;
}

.love_label {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}

.love_input:hover {
  cursor: pointer;
}

.submit_cancel_container {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.submit_tasting {
  margin: 0 40px;
  padding: 5px 50px;
  height: 40px;
  border-radius: 30px;
  font-weight: bold;
  background-color: rgb(198 192 163);
  color: rgb(103, 10, 21);
  border: 0;
}

.submit_tasting:hover {
  background-color: rgb(103, 10, 21);
  color: rgb(243, 218, 201);
  cursor: pointer;
  transition-duration: 300ms;
}

.cancel_tasting {
  margin-top: 20px;
  font-size: 16px;
  color: rgb(103, 10, 21);
}

.cancel_tasting:hover {
  color: rgba(103, 10, 21, .7);
  text-decoration: underline;
  transition-duration: 300ms;
  cursor: pointer;
}

