
.create-tasting-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: row;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 20px 200px 0;
  height: 1250px;
  width: 100%;
  background-color: rgba(156, 108, 39, 0.1);
}

.create-form {
  flex-direction: column;
  padding: 0 0 15% 15%;
  height: 100%;
  max-width: 73%;
}

.input-container {
  margin: 0;
  padding-top: 35%;
  justify-content: space-evenly;
}

.errors {
  color: #c73649;
  font-weight: bold;
  font-size: 10px;
  width: 550px;
}

.producer-input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin: 0;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.region-input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.vineyard-input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.varietal-input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.vintage-input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.other-info-input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.sight-input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.nose-input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.palate-input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.thoughts-input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 550px;
  margin-top: 5px;
  padding: 1% 1% 1% 1%;
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: rgba(156, 108, 39, 0.0);
  color: rgb(192, 192, 176);
}

.love-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.love-label {
  color: rgb(192, 192, 176);
  font-weight: bold;
}

.love-input:hover {
  cursor: pointer;
}

.submit-cancel-container {
 display: flex;
 flex-direction:row;
 align-items: center;
 /* border-radius: 30px; */
}

.submit-tasting {
  width: 100%;
  margin-top: 10px;
  padding: 5px 40px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  background-color: #FFF3C4;
  color: #9c3127;
  border: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.submit-tasting:hover {
  background-color: rgba(50, 50, 50, .94);
  color: #FFF3C4;
  cursor: pointer;
  transition-duration: 300ms;
}

.my-home {
  margin-top: 10px;
  padding: 5px 20px 0 30px;
  height: 40px;
  background-color: rgba(50, 50, 50, .94);
  color: #FFF3C4;
  border: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.my-home:hover {
  background-color: #9c3127;
  color: #FFF3C4;
  transition-duration: 300ms;
  cursor: pointer;
}

  