.wine-main-info.friend-main {
  border-bottom: 1px solid black;
}

.love_and_color_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%
}