.friend_tasting_outer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  padding: 20px 20px 30px 20px;
  min-height: 200px;
  background-color: rgba(39, 39, 38, 0.35);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-style: solid;
  border-width: 1px;
  border-color: rgb(39, 39, 38);
}