* {
  box-sizing: border-box;
}


.loginFormContainer {

  display: flex;
  justify-content: column;
  height:100%;
  max-width: 40%;
  margin: 3% auto 10% 3%;
  background-color: rgba(255, 255, 255 0.2);
}

.loginForm {
  justify-content: space-between;
  align-items: vertical;
}

.emailWrapper {
  justify-content: space-between;
  padding: 0 0 0 30px;
}

.emailInput {
  margin: 4px;
  padding: 8px;
  border-radius: 6px;
  min-width: 250px;
}

.passwordInput {
  margin: 4px;
  padding: 8px;
  border-radius: 6px;
  min-width: 250px;
}

.loginButtonWrapper {
  display: flex;
  justify-content: flex-end;
}
 
.loginInnerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.loginDemoButtons {
  border-radius: 20px;
  padding: 20% 50%;
}

.errorMessages {
  color: #c73649;
  font-weight: bold;
}
  

