
.loginFormContainer {
  display: flex;
  justify-content: column;
  height: 20%;
  max-width: 40%;
  margin: 0 auto 0 0;
  padding: 60px 0 0 0;
  background-color: rgba(255, 255, 255 0.2);
}

.loginForm {
  justify-content: space-between;
  align-items: vertical;
}

.emailWrapper {
  justify-content: space-between;
  padding: 0 0 0 30px;
}

.emailInput {
  margin: 4px;
  padding: 8px;
  border-radius: 6px;
  min-width: 250px;
}

.passwordInput {
  margin: 4px;
  padding: 8px;
  border-radius: 6px;
  min-width: 250px;
}

.loginButtonWrapper {
  display: flex;
  justify-content: flex-end;
}

.loginDemoButtons {
  border-radius: 20px;
  margin: 0 10px;
}

.loginDemoButtons:hover {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.logButton {
  
}

.logButton:hover {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.errorMessages {
  color: #c73649;
  font-weight: bold;
}
  

