/* .createPostModal {
  position: absolute;
  background-color: white;
  border-radius: 8px;
  width: 300vw;
  overflow-y:auto;
  /* height: 530px; */
  /* min-height: 150px; */
/* } */ */


.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: column;
  max-width: 40%;
  height:100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.userContainer {
  display: flex;
  margin-top: 0;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
}

