

.home_body {
  display: flex;
  flex-direction: column;
  align-items: column;
  max-width: 40%;
  height:100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* .userContainer {
  display: flex;
  margin-top: 0;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
} */

/* .footerHomeContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #9c3127;
}

.homeFooterPhrase {
  color: #FFF3C4;
} */