

.userSidebarContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 15% 4% 30% 3%;
  flex-direction: column;
  height:100%;
  max-width: 30%;
  margin: 0;
  background-color: #9c9c92;
}

.welcome {
  padding: 0 0 20px 0;
}

.createbarWrapper {
  display: flex;
  justify-content: space-between;
}

.createbarNav {
  padding: 15px 15px 15px 0;
  color: #660d19;
  font-size: 18px;
  font-weight: bold;
}

.createbarWrapper:hover {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.createbarWrapper:active {
  opacity: .7;
}

.myFeedLinkContainer {
  display: flex;
  justify-content: space-between;
}

.mytastebarNav {
  padding: 15px 15px 15px 0;
  color: #660d19;
  font-size: 18px;
  font-weight: bold;
}

.mytastebarNav:hover {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.mytastebarNav:active {
  opacity: .7;
}

.allLovedFeedLinkContainer {
  display: flex;
  justify-content: space-between;
}

.lovedbarNav {
  padding: 15px 15px 15px 0;
  color: #660d19;
  font-size: 18px;
  font-weight: bold;
}

.lovedbarNav:hover {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.lovedbarNav:active {
  opacity: .7;
}

.aboutMeContainer {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.developer {
  color: black;
  margin-right: 5px;
  /* padding: 0 2px 0 0; */
}

.developerName {
  color: black;
}

.mylinksContainer {
  display: flex;
  justify-content: center;
}

.fa-brands {
  color: #660d19;
  margin: 0 40px 0 0;
  padding: 0 0 0 40px;
  font-size: 20px;
  cursor: pointer;
}

.userLinkedInLink{
  color: #660d19;
  margin: 0 50px 0 50px;
  cursor: pointer;
}

