

.userSidebarContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 15% 0 30% 0;
  flex-direction: column;
  height:100%;
  width: 27%;
  /* max-width: 30%; */
  margin: 0;
  background-color: rgb(39, 39, 38);
}

.createbarWrapper {
  display: flex;
  justify-content: space-between;
}

.createbarWrapper:hover {
  background-color:  rgba(78, 76, 76, 0.5);
}

.createbarWrapper:active {
  opacity: .7;
}

.createbarNav {
  padding: 15px 15px 15px 0;
  color: rgb(192, 192, 176);
  font-size: 18px;
  font-weight: 100;
  margin: 0 8%;
}

.myFeedLinkContainer {
  display: flex;
  justify-content: space-between;
}

.myFeedLinkContainer:hover {
  background-color:  rgba(78, 76, 76, 0.5);
}

.myFeedLinkContainer:active {
  opacity: .7;
}

.mytastebarNav {
  padding: 15px 15px 15px 0;
  color: rgb(192, 192, 176);
  font-size: 18px;
  font-weight: 100;
  margin: 0 8%;
}

.allLovedFeedLinkContainer {
  display: flex;
  justify-content: space-between;
}

.allLovedFeedLinkContainer:hover {
  background-color: rgba(78, 76, 76, 0.5);
}

.allLovedFeedLinkContainer:active {
  opacity: .7;
}

.lovedbarNav {
  padding: 15px 15px 15px 0;
  color: rgb(192, 192, 176);
  font-size: 18px;
  font-weight: 100;
  margin: 0 8%;
}

.aboutMeContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.developer {
  color: #FFF3C4;
  font-weight: 100;
  margin: 0 8%;
  padding: 0 2px 0 0;
}

.nameAndLinksContainer {
  display: flex;
  flex-direction: row;
}

.developerName {
  color: #FFF3C4;
  font-weight: 100;
  margin: 0 5% 0 8%;
}

.fa-brands {
  /* color: #FFF3C4; */
  font-size: 20px;
  cursor: pointer;
}

.userLinkedInLink{
  color: #FFF3C4;
  padding: 0 10px;
  cursor: pointer;
}

.userLinkedInLink:hover {
  color: #9c3127;
  border-radius: 15px;
}

.userLinkedInLink:active {
  opacity: .7;
}

.userGithubLink {
  color: #FFF3C4;
  padding: 0 10px;
}

.userGithubLink:hover {
  color: #9c3127;
  border-radius: 15px;
}

.userGithubLink:active {
  opacity: .7;
}