.commentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

.name-and-comment {
  display: flex;
  flex-direction: row;
}

.commentName {
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
}

.comment-itself {
  color: rgba(192, 192, 176, .8);
  margin-left: 20px;
}

.edit-comment-button {
  color: rgba(192, 192, 176, .2);
  margin: 20px 40px 0 0;
  font-size: 10px;
}

.edit-comment-button:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition-duration: 300ms;
}




