.comment_container {
  max-width: 340px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.comment_name {
  margin-bottom: 5px;
  color: rgb(252, 237, 214);
  letter-spacing: 2px;
  font-weight: bold;
}

.comment_itself {
  color: rgba(252, 237, 214, .6);
  margin: 0 0 5px 20px;
}

.edit_comment_button {
  color: #788c22;
  margin-left: 330px;
  font-size: 12px;
}

.edit_comment_button:hover {
  color: rgba(252, 237, 214, .8);
  cursor: pointer;
  transition-duration: 500ms;
} 
