.discussion_wine_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  letter-spacing: 3px;
  font-size: 18px;
  color: rgb(252, 237, 214);
  width: 340px;
}

.comment_input {
  height: 50px;
  width: 100%;
  margin: 0 0 10px 0px;
  padding: 10px 30px 0 10px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(252, 237, 214, .5);
  background-color: transparent;
  overflow-y: auto;
  color: rgba(252, 237, 214, .8);
  font-size: 12px;
}

.comment_input:focus {
  outline: none;
}

.comment_input:-webkit-autofill,
.comment_input:-webkit-autofill:hover,
.comment_input:-webkit-autofill:focus,
.comment_input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s;
  -webkit-text-fill-color: rgba(252, 237, 214, .8);
}

.comment_input::placeholder {
  color: rgba(252, 237, 214, .4);
}

.comment_buttons_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.comment_button {
  height: 25px;
  width: 75%;
  border: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-weight: bold;
  background-color: rgb(252, 237, 214);
  color: #753932;
}

.comment_button:hover {
  background-color: #753932;
  color: rgb(252, 237, 214);
  cursor: pointer;
  transition-duration: 500ms;
}

.cancel_comment_button {
  height: 25px;
  width: 25%;
  border: 0;
  font-weight: bold;
  background-color: #753932;
  color: rgb(252, 237, 214);
}

.cancel_comment_button:hover {
  background-color: rgb(252, 237, 214);
  color: #753932;
  cursor: pointer;
  transition-duration: 500ms;
}