.edited_comment_input {
  margin-bottom: 5px;
  padding-bottom: 3px;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(252, 237, 214, .5);
  color: rgba(252, 237, 214, .8);
}

.edited_comment_input:focus {
  outline: none;
}

.edited_comment_input:-webkit-autofill,
.edited_comment_input:-webkit-autofill:hover,
.edited_comment_input:-webkit-autofill:focus,
.edited_comment_input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s;
  -webkit-text-fill-color: rgb(252, 237, 214);
}

.edit_delete_button_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.edited_comment_button {
  height: 15px;
  width: 40%;
  font-size: 12px;
  border: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: rgb(252, 237, 214);
  color: #753932;
}

.edited_comment_button:hover {
  background-color: #753932;
  color: rgb(252, 237, 214);
  cursor: pointer;
  transition-duration: 500ms;
}

.delete_comment {
  height: 15px;
  width: 25%;
  font-size: 12px;
  border: 0;
  background-color: #753932;
  color: rgb(252, 237, 214);
}

.delete_comment:hover {
  background-color: rgb(252, 237, 214);
  color: #753932;
  cursor: pointer;
  transition-duration: 500ms;
}