.friends_feed_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends_feed_header {
  display: flex;
  margin-top: 120px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(192, 192, 176);
  border-bottom-style: solid;
  border-width: 1px;
}

.friends_tastings_feed {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 375px));
  grid-gap: 100px;
  margin: 0 12%;
  padding: 100px 0 300px 200px;
}

@media only screen and (max-width: 1600px)  {

  .friends_feed_page {
    padding: 0 300px;
  }

  .friends_tastings_feed {
    grid-template-columns: repeat(2, minmax(300px, 375px));
  }
}

.friends_tasting_container {
  display: flex;
  flex-direction: column;
}
