
/* .login-container {
  display: flex;
  justify-content: column;
  height: 20%;
  max-width: 60%;
  margin: 0 50px;
  padding: 60px 0 0 0;
}

.login-form {
  justify-content: space-between;
  flex-direction: row;
  align-items: vertical;
  color: #9c3127;
  font-weight: bolder;
}

.email-container {
  display: flex;
  justify-content: space-between;
}

.email-input {
  margin-bottom: 5px;
  padding: 8px;
  height: 40px;
  min-width: 425px;
  border: 0;
  border-radius: 20px;
}

.password-input {
  margin-top: 5px;
  padding: 8px;
  height: 40px;
  min-width: 425px;
  border: 0;
  border-radius: 20px;
}

.login-buttons-container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.demo-button {
  width: 100%;
  margin-top: 10px;
  padding: 5px 40px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  background-color: #FFF3C4;
  color: #9c3127;
  border: 0;
  border-radius: 20px;
}

.demo-button:hover {
  background-color: rgba(50, 50, 50, .94);
  color: #FFF3C4;
  cursor: pointer;
  transition-duration: 300ms;
}

.login-button {
  width: 100%;
  margin-top: 20px;
  padding: 5px 40px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  background-color: #FFF3C4;
  color: #9c3127;
  border: 0;
  border-radius: 20px;
}

.login-button:hover {
  background-color: rgba(50, 50, 50, .94);
  color: #FFF3C4;
  cursor: pointer;
  transition-duration: 300ms;
}

.error-messages {
  margin: 10px 0;
  padding: 10px 0;
  color: #c73649;
  font-weight: bold;
} */
  

.card {
  backdrop-filter: blur(10px);
  background: rgba(255, 243, 196, 0.075);
  border: 1px solid rgba(255, 243, 196, 0.18);
  border-radius: 15px;
  box-shadow: 0 1px 35px 0 rgba(255, 243, 196, 0.15);
  color: #FFF3C4;
  width: 500px;
  overflow: hidden;
  padding: 20px 30px 50px 30px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.card_input {
  background-color: transparent;
  border: 1px solid rgba(255, 243, 196, 0.45);
  border-radius: 20px;
  width: 325px;
  height: 50px;
  margin: 5px 0 10px 0;
  padding: 0 15px;
}

.demo_button {
  margin: 0 20px;
  padding: 5px 40px;
  height: 40px;
  border-radius: 30px;
  font-weight: bold;
  background-color: #FFF3C4;
  color: #9c3127;
  border: 0;
}

.demo_button:hover {
  background-color: #9c3127;
  color: #FFF3C4;
  cursor: pointer;
  transition-duration: 300ms;
}

.login_button {
  margin: 0 20px;
  padding: 5px 40px;
  height: 40px;
  border-radius: 30px;
  font-weight: bold;
  background-color: #FFF3C4;
  color: #9c3127;
  border: 0;
}

.login_button:hover {
  background-color: #9c3127;
  color: #FFF3C4;
  cursor: pointer;
  transition-duration: 300ms;
}

