
.login-container {
  display: flex;
  justify-content: column;
  height: 20%;
  max-width: 60%;
  margin: 0 50px;
  padding: 60px 0 0 0;
}

.login-form {
  justify-content: space-between;
  flex-direction: row;
  align-items: vertical;
  color: #9c3127;
  font-weight: bolder;
}

.email-container {
  display: flex;
  justify-content: space-between;
}

.email-input {
  margin-bottom: 5px;
  padding: 8px;
  height: 40px;
  min-width: 425px;
  border: 0;
  border-radius: 20px;
}

.password-input {
  margin-top: 5px;
  padding: 8px;
  height: 40px;
  min-width: 425px;
  border: 0;
  border-radius: 20px;
}

.login-buttons-container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.demo-button {
  width: 100%;
  margin-top: 10px;
  padding: 5px 40px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  background-color: #FFF3C4;
  color: #9c3127;
  border: 0;
  border-radius: 20px;
}

.demo-button:hover {
  background-color: rgba(50, 50, 50, .94);
  color: #FFF3C4;
  cursor: pointer;
  transition-duration: 300ms;
}

.login-button {
  width: 100%;
  margin-top: 20px;
  padding: 5px 40px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  background-color: #FFF3C4;
  color: #9c3127;
  border: 0;
  border-radius: 20px;
}

.login-button:hover {
  background-color: rgba(50, 50, 50, .94);
  color: #FFF3C4;
  cursor: pointer;
  transition-duration: 300ms;
}

.error-messages {
  margin: 10px 0;
  padding: 10px 0;
  color: #c73649;
  font-weight: bold;
}
  

