.search_feed_page {
  flex: 1;
  margin: 0 340px;
  padding: 120px 0;
  overflow-y: scroll;
}

.search_title {
  display: flex;
  justify-content: center;
  margin: 0 150px 20px 150px;
  padding-bottom: 20px;
  font-size: 20px;
  /* color: #fcedd6; */
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.search_title_tastings {
  margin: 0 150px;
  font-size: 18px;
  /* color: rgba(252, 237, 214, .8); */
  color: black;
  border-bottom: 1px solid rgba(252, 237, 214, .8);
}

.user_results_container {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex: 0 0 340px;
  padding: 185px 20px 0 20px;
  top: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(39, 39, 38, .5);
  border-left: 1px solid rgba(252, 237, 214, .5);
}

.search_title_users {
  padding-right: 250px;
  font-size: 18px;
  /* color: rgba(252, 237, 214, .8); */
  color: black;
  border-bottom: 1px solid rgba(252, 237, 214, .8);
}

/* Styles for screens less wide than 1600px */
@media only screen and (min-width: 1599px) {
  
  .user_results_container {
    
  }
}

/* Styles for screens less wide than 1400px */
@media only screen and (max-width: 1399px) {

  .user_results_container {
    
  }
}

/* Styles for screens shorter than 1000px */
@media only screen and (max-height: 999px) {

  .user_results_container {
    
  }
}