.search_feed_page {
  flex: 1;
  margin: 0 340px;
  padding: 120px 0;
  overflow-y: scroll;
}

.search_title {
  display: flex;
  justify-content: center;
  margin: 0 150px 20px 150px;
  padding-bottom: 20px;
  font-size: 20px;
  color: #fcedd6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.search_title_tastings {
  margin: 0 150px;
  padding-right: 300px;
  padding-bottom: 20px;
  font-size: 18px;
  color: rgba(252, 237, 214, .8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.feed_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(375px, 375px));
  gap: 100px;
  justify-content: center;
  padding: 100px 0;
  
}

.user_results_container {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex: 0 0 340px;
  padding: 185px 20px 0 20px;
  top: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(39, 39, 38, .5);
  border-left: 1px solid rgba(252, 237, 214, .5);
}

.search_title_users {
  padding-right: 280px;
  padding-bottom: 20px;
  font-size: 18px;
  color: rgba(252, 237, 214, .8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
